<div class="page-header">
  <h1>Bill</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newTaxesPath() %>" class="btn btn-primary">Create New Tax</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Tax Code</th>
    <th>Type</th>
    <th>Refundable</th>
    <th>Price</th>
    <th>Tax</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (tax) in taxes { %>
      <tr>
      <td><%= tax.Name %></td>
        <td><%= tax.TaxCode %></td>
        <td><%= tax.TaxItem.Type %></td>
        <td><%= tax.TaxItem.Refundable %></td>
        <td><%= tax.Price %></td>
        <td><%= tax.TaxItem.GetTaxAmount() %></td>
        <td>
          <div class="pull-right">
            <a href="<%= taxPath({ tax_id: tax.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editTaxPath({ tax_id: tax.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= taxPath({ tax_id: tax.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
